.reserva-cuadrado {
  max-width: 500px;
  margin: 30px auto;
  background-color: #e6f7ff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  font-family: Arial, sans-serif;
}

.reserva-cuadrado h3 {
  text-align: center;
  margin-bottom: 20px;
}

.reserva-cuadrado p {
  margin-bottom: 10px;
  font-size: 16px;
}
