.admin-header {
  background-color: #ffffff;
  margin-left: 250px; /* mismo ancho que el sidebar */
  padding: 15px 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.admin-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-usuario {
  font-weight: bold;
  color: #333;
}
.cerrar-sesion-btn {
  margin-left: 15px;
  padding: 5px 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.cerrar-sesion-btn:hover {
  background-color: #c0392b;
}
